<!DOCTYPE html>
<head>
    <title>Pusher Test</title>
</head>
<body>
    <h1 class="text-center">Camera Tally System</h1>
    <div class="text-center">
        <a class="btn btn-lg btn-default" href="/home/cam1">Camera 1</a>
        <a class="btn btn-lg btn-default" href="/home/cam2">Camera 2</a> 
        <a class="btn btn-lg btn-default" href="/home/cam3">Camera 3</a> 
    </div>
</body>